# Hardhat artifacts and cache
artifacts/
cache/
.openzeppelin/
.vscode/

# Node modules
node_modules/

#Custom files
todos.md
deployments/*.json
deployments/deploy_grid_clean.js

# Environment files
.env

# packages
package-lock.json
test/todos.md
yarn.lock

# System and Editor folders/files
.DS_Store
*.log
*.swp
*.bak
